body {
    font-family: 'Press Start 2P', monospace;
    background-image: url("images/toybg.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    display: block; 
    color: white;
    z-index: 1;
    text-shadow: none;
    align-items: unset;
    text-align: unset;
}

#si-game-area {
    width: 80vw; 
    max-width: 800px;
    height: 100vh; 
    position: fixed; 
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%); 
}

#hud {
    position: fixed;
    top: 2vh;
    left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
    padding: 2vh 2vw;
    width: clamp(150px, 20vw, 220px); 
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #126fcb;
    border-radius: 12px;
    box-shadow: 0 0 20px #07315b;

    color: #86e2e2;
    font-family: 'Press Start 2P', monospace;
    font-size: clamp(8px, 1.5vw, 12px);
    text-shadow: 0 0 6px #126fcb;
    z-index: 10001;
}

#hud div {
    padding-bottom: 6px;
    border-bottom: 1px solid #126fcb;
    width: 100%;
}

#hud div:last-child {
    border-bottom: none;
}

#power.ready {
    color: #126fcb;
    text-shadow: 0 0 8px #07315b;
}

#power.used {
    color: #ff4c4c;
    text-shadow: 0 0 8px #ff4c4c;
}

#menu-btn {
    margin-top: 15px;
    background-color: #126fcb;
    color: black;
    border: 2px solid #07315b;
    border-radius: 8px;
    font-family: 'Press Start 2P', monospace;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 10px 14px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.mothership-hp-container {
    position: absolute;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #ff3333;
    top: 15px; 
}

.mothership-hp-bar {
    height: 100%;
    background-color: #c92929;
    transition: width 0.3s ease-out; 
}