body {
    font-family: 'Press Start 2P', monospace;
    background-image: url("images/toystory-bg.gif");
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#instructions {
    padding: 40px;
    border-radius: 15px;
    max-width: 700px;
    width: 90%;
    margin: auto;
    color: rgb(0, 0, 0);
}

h1 {
    color: #86e2e2;
    font-size: clamp(20px, 5vw, 40px);
    margin-bottom: 30px;
    text-shadow: 0 0 10px #126fcb;
}

ul {
    list-style: none; /* Remove bullet points */
    padding: 0;
    text-align: left;
    margin: 20px 0 40px;
    line-height: 2.5;
    font-size: clamp(10px, 2vw, 16px);
}

ul li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#back-btn {
    background-color: #126fcb; 
    color: black;
    border: 2px solid #07315b;
    font-family: 'Press Start 2P', monospace;
    text-transform: uppercase;
    padding: 15px 30px;
    margin-top: 20px;
    transition: 0.2s;
    cursor: pointer;
    font-size: clamp(10px, 2vw, 16px);
}

#back-btn:hover {
    background-color: #07315b;
    color: #86e2e2;
    border-color: #126fcb;
    box-shadow: 0 0 10px #86e2e2;
}

@media (max-width: 480px) {
    html { 
        scroll-behavior: smooth;
        font-size: 12px;
    }
}
