body {
    font-family: 'Press Start 2P', monospace;
    background-image: url("images/toybg.jpg");
    background-size: cover;
    background-position: left;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#instructions h1 {
    color: white;
    font-family: 'Press Start 2P', monospace;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#instructions ul {
    list-style: none; 
    padding: 0;
    margin-bottom: 50px;
    text-align: left; 
    display: inline-block;
}

#instructions li {
    color: #07315b;
    font-size: 1.2em;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 0;
}

#instructions button {
    background-color: #126fcb; 
    color: black;
    border: 2px solid #07315b;
    font-family: 'Press Start 2P', monospace;
    text-transform: uppercase;
    padding: 15px 30px;
    transition: 0.2s;
    cursor: pointer;
}
