body {
    font-family: 'Press Start 2P', monospace;
    background-image: url("images/toybg.jpg");
    background-size: cover;
    background-position: left;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: white;
    font-family: 'Comic Neue', cursive; 
    font-size: 100px;
    text-transform: uppercase;
    padding: 10px 20px;
}


#name-input {
    margin-bottom: 20px;
}

#name-input label {
    color: white; 
}

#name-input input {
    padding: 12px;
    font-size: 18px;
    width: 80%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

#lobby-buttons button {
    background-color: #126fcb; 
    color: black;
    border: 2px solid #07315b;
    font-family: 'Press Start 2P', monospace;
    text-transform: uppercase;
    padding: 15px 30px;
    margin: 10px;
    transition: 0.2s;
    cursor: pointer;
}
