body {
    font-family: 'Press Start 2P', monospace;
    background-image: url("images/toystory-bg.jpeg");
    background-size: cover;
    background-position: left;
    margin: 0;
    min-height: 100vh;
    display: relative;

}

#lobby {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 50px; 
}

h1 {
    font-family: 'Press Start 2P', monospace; 
    margin-bottom: 20px;
    color: #043464;
    font-size: 50px; 
    text-transform: uppercase;
    padding: 10px 20px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.7);
}

#name-input {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px; /* Optional: limit width of the label/input container */
    padding: 0 20px;
    box-sizing: border-box;
}

#name-input label {
    color: #043464; 
    font-size: 14px;
    display: block; /* Make label take its own line */
    margin-bottom: 5px;
    text-align: center;
}

#name-input input {
    padding: 12px;
    font-size: 18px;
    width: 90%;
    max-width: 350px; 
    margin: 10px auto 0 auto; /* Center input horizontally */
    display: block; /* Required for margin: auto to work */
    border: none;
    border-radius: 5px;
    text-align: center; /* Center the text inside the input box */
    font-family: 'Press Start 2P', monospace; /* Use the retro font for input */
}

#lobby-buttons {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    max-width: 300px;
    width: 100%;
}

#lobby-buttons button {
    background-color: #126fcb; 
    color: black;
    border: 2px solid #07315b;
    font-family: 'Press Start 2P', monospace;
    text-transform: uppercase;
    padding: 15px 30px;
    margin: 10px;
    transition: 0.2s;
    cursor: pointer;
    font-size: 12px;
}

#play-btn, #leaderboards-btn, #instructions-btn, #story-btn {
    flex: 1 1 45%; 
    min-width: 180px;
}

#lobby-buttons button:hover {
    background-color: #07315b;
    color: #86e2e2;
    border-color: #126fcb;
    box-shadow: 0 0 10px #86e2e2;
}

@media (max-width: 480px) {
    html { 
        scroll-behavior: smooth;
        font-size: 12px;
    }
}
